/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Body */
body{
    background:#f5f7fa;
    color:#333;
    line-height:1.6;
}

/* Header */
header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:40px;
}

header p{
    margin-top:10px;
    font-size:18px;
}

/* Navigation */
nav{
    background:#222;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#0d6efd;
}

/* Sections */
section{
    width:80%;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

section h2{
    color:#0d6efd;
    margin-bottom:15px;
}

ul{
    margin-left:20px;
}

li{
    margin-bottom:8px;
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

/* Mobile Responsive */
@media(max-width:768px){

    header h1{
        font-size:30px;
    }

    nav a{
        display:block;
        margin:10px 0;
    }

    section{
        width:95%;
    }

}
.profile-image{
    width:180px;
    height:180px;
    border-radius:50%;
    display:block;
    margin:20px auto;
    object-fit:cover;
    border:4px solid #0d6efd;
}
